<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الخريطة التفاعلية</title>
    
    <link rel="stylesheet" href="styles/index.css">
    <script src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@latest"></script>
    <script src="scripts/index.js"></script>

</head>
<body>
    <!-- Map container-->
    <div class="map-container">
        <a>مرحبًا بك!<br>في الخريطة التفاعلية لقسم كلية علوم الحاسب</a>

        <input type="text" id="office-search" placeholder="البحث عن مكتب">

        <div class="map-elements">
            <div id="title">الطابق<br>الأول</div>

            <div id="first_floor"></div>
            <div id="second_floor"></div>
            <div id="third_floor"></div>
            <div id="fourth_floor"></div>
        </div>

        <div class="select-menu">
            <div class="select-btn">
              <span class="sBtn-text">الطابق الأول</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.293 9.293L12 13.586L7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"/></svg>
            </div>
          
            <ul class="options">
              <li class="option">
                <span class="option-text">الطابق الأول</span>
              </li>
              <li class="option">
                <span class="option-text">الطابق الثاني</span>
              </li>
              <li class="option">
                <span class="option-text">الطابق الثالث</span>
              </li>
              <li class="option">
                <span class="option-text">الطابق الرابع</span>
              </li>
            </ul>
          </div>
    </div>

    <!-- Right Navbar -->
    <div class="navbar">
        <div class="navbar-items">
            <button type="button" id="button-navbar">الأكثر شهرة</button>
            <button type="button" id="button-navbar">تواصل معنا</button>
            <button type="button" id="button-navbar" style="margin-top: auto">تسجيل الدخول</button>
        </div>
    </div>

    <!-- Header -->
        <div class="header">
            <div class="header-items">
                
                <button id="navbar-click" type="button">
                    <svg class="svg-button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/> </svg> 
                </button>
            </div>
        </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-alignment" style="direction: rtl;">

            <div class="footer-item">
                <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"> <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z" fill="white"></svg>
                <a>جميع الحقوق محفوظة لجامعة الإمام محمد بن سعود<br>الإسلامية</a>                
            </div>
        </div>
    </div>


    <div class="loading-screen">
        <div id="loading-logo">
            <div class="loader"></div>
            <a style="direction: rtl; color: white; font-size: 18px;">يتم تحميل الصفحة...</a>
        </div>
    </div>
</body>
 
</html>